/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


/* Set styling for outline on focus */
textarea:focus {
  outline: 3px solid #FFBE0B;
  border-radius: 0.25rem;
  z-index: 1;
}

::selection {
    background-color: var(--tertiary-color);
}