:root {
  /* fonts */
  font-size: 10px;

  /* Colors */
  --primary-color: #3A86FF;
  --secondary-color: #FFBE0B;
  --tertiary-color: #FF006E;
  --accent1-color: #FB5607;
  --accent2-color: #8338EC;
}

body {
background-color: white;  
font-family: 'Inter', sans-serif;
font-size: 1.6rem;
}

h1 {
  padding: 1rem;
  font-size: 3.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.page-container {
  flex-direction: column;
}

.page-container > * {
  margin-bottom: 4rem;
}

header {
  margin-top: 2rem;
  text-align: center;
}

.header-content {
  flex-direction: column;
  align-items: center;
}

.header-current-time {
  font-family: monospace;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: var(--tertiary-color);
  width: fit-content;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}



.flex {
  display: flex;
}



/* Scheduler Container*/
#scheduler {
  width: 90%;
  max-width: 700px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Time Block */

.time-block {
  padding-bottom: 1rem;
}

.time-block:last-child {
  padding-bottom: 0;
}

.time-block__time {
  background-color: #FF006E;
  border: 2px solid black;
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

.time-block__time span {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Text Input */
textarea {
  background: white;
  resize: none;
  color: #000000;
  padding: 1rem;
  border: 2px solid black;
}

.description {
  white-space: pre-wrap;
}



/* Save Button */
.save-button {
  background-color: #8338EC;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 2px solid black;
  border-left: none;
}
.save-button i {
  color: black;
  font-size: 2rem;
  transition: 300ms;
}

.save-button i:hover {
  font-size: 3rem;
}


.past {
  
}

.current {
  
}

.future {
  
}



@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
  }

  h3 {
    font-size: 3.4rem;
  }
}

