:root {
  font-size: 10px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.7rem;
}

h1 {
  padding: 1rem;
  background-color: aqua;
  font-size: 3.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

h3 {
  background-color: blueviolet;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}

header {
  text-align: center;
}










/* Scheduler */
#scheduler {
  max-width: 700px;
}


/* Time Block */
.time {
  font-size: 2rem;
  font-weight: 600;
}

/* Text Input */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}








/* Save Button */
.save-button i {
  color: black;
  font-size: 2.2rem;
  transition: all 0.3s ease-in-out;
}

/* .save-button i:hover {
  
} */
