:root {
  /* fonts */
  font-size: 10px;

  /* Colors */
  --primary-color: #3A86FF;
  --secondary-color: #FFBE0B;
  --tertiary-color: #FF006E;
  --accent1-color: #FB5607;
  --accent2-color: #8338EC;
  --green-color: #8AC926;
  --light-blue: #5BC0EB;
  --thistle-color: #EFC7E5;
  --dark-shade: #272727;
  --light-shade: #FFFCF9;

}

body {
background-color: var(--light-shade);  
font-family: 'Inter', sans-serif;
font-size: 1.6rem;
color: var(--dark-shade);
}

h1 {
  padding: 1rem;
  font-size: 3.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.page-container {
  flex-direction: column;
}

.page-container > * {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}

header {
  margin-top: 2rem;
  text-align: center;
}

.header-content {
  flex-direction: column;
  align-items: center;
}

.header-current-time {
  font-family: monospace;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  background-color: var(--tertiary-color);
  width: fit-content;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}


/* Scheduler Container*/
#scheduler {
  width: 90%;
  max-width: 700px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Time Block */

.time-block {
  padding-bottom: 1rem;
}

.time-block:last-child {
  padding-bottom: 0;
}

.time-block__time {
  background-color: #FF006E;
  border: 2px solid var(--dark-shade);
  border-right: none;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}

.time-block__time span {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Text Input */
textarea {
  /* background: transparent; */
  resize: none;
  color: var(--dark-shade);
  padding: 1rem;
  border: 2px solid var(--dark-shade);
}

.description {
  white-space: pre-wrap;
}



/* Save Button */
.save-button {
  background-color: #8338EC;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border: 2px solid var(--dark-shade);
  border-left: none;
}
.save-button i {
  color: var(--dark-shade);
  font-size: 2rem;
  transition: 300ms;
}

.save-button i:hover {
  font-size: 3rem;
}

.footer {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer-content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-content > * {
  font-size: 2rem;
  padding-bottom: 1rem;
}


.key-title {
  font-weight: bold;
}
.key-container {
  width: 80%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.key {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.clear-tasks-button {
  margin-top: 2rem;
  font-weight: bold;
  background-color: var(--light-blue);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  transition-duration: 150ms;
}

.clear-tasks-button:hover {
  background-color: var(--primary-color);
}

.clear-tasks-button:active{
  box-shadow: none;
}




/* Time Block Status Indicators */
.past {
  background-color: var(--accent1-color);
}

.current {
  background-color: var(--secondary-color);
}

.future {
  background-color: var(--green-color);
}

.error-message::placeholder {
  color: red;
  font-size: small;
}





/* Media Queries */
@media only screen and (max-width: 375px ) {
  
  .time-block__time span {
    font-size: 1.2rem;
  }
  .save-button i {
    font-size: 1.5rem;
  }
  
  .save-button i:hover {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

